.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
images/**
.github/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
